<% @side_nav = "forms" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Custom Forms" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">It's so crazy easy to create easy-to-style custom forms. It's practically a crime.</h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <form class="custom">
          <div class="row">
            <div class="large-4 columns">
              <label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio"></span> Radio Button 1</label>
              <label for="radio2"><input name="radio1" type="radio" id="radio2" style="display:none;"><span class="custom radio checked"></span> Radio Button 2</label>
              <label for="radio3"><input name="radio1" type="radio" id="radio3" disabled style="display:none;"><span class="custom radio"></span> Radio Button 3</label>
            </div>
            <div class="large-4 columns">
              <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Label for Checkbox</label>
              <label for="checkbox2"><input type="checkbox" id="checkbox2" checked style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
              <label for="checkbox3"><input type="checkbox" CHECKED id="checkbox3"> Label for Checkbox</label>
            </div>
            <div class="large-4 columns">
              <label for="customDropdown1">Medium Example</label>
              <select id="customDropdown1" class="medium">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </div>
          </div>
        </form>

        <hr>

        <p>We've learned a lot from our previous iteration of custom forms. Thanks to awesome community contributions, we have even better custom forms. The new implementation is cleaner and more succinct, with less duplication of code. You just need to make sure to have the right JS hooked up for things to work properly; <a href="#js">learn more about that below</a>. The example above looks like this:</p>

<%= code_example '
<form class="custom">
  <div class="row">
    <div class="large-4 columns">
      <label for="radio1"><input name="radio1" type="radio" id="radio1" style="display:none;"><span class="custom radio"></span> Radio Button 1</label>
      <label for="radio2"><input name="radio1" type="radio" id="radio2" style="display:none;"><span class="custom radio checked"></span> Radio Button 2</label>
      <label for="radio3"><input name="radio1" type="radio" id="radio3" disabled style="display:none;"><span class="custom radio"></span> Radio Button 3</label>
    </div>
    <div class="large-4 columns">
      <label for="checkbox1"><input type="checkbox" id="checkbox1" style="display: none;"><span class="custom checkbox"></span> Label for Checkbox</label>
      <label for="checkbox2"><input type="checkbox" id="checkbox2" checked style="display: none;"><span class="custom checkbox checked"></span> Label for Checkbox</label>
      <label for="checkbox3"><input type="checkbox" CHECKED id="checkbox3"> Label for Checkbox</label>
    </div>
    <div class="large-4 columns">
      <label for="customDropdown">Medium Example</label>
      <select id="customDropdown" class="medium">
        <option DISABLED>This is a dropdown</option>
        <option>This is another option</option>
        <option>This is another option too</option>
        <option>Look, a third option</option>
      </select>
    </div>
  </div>
</form>', :html %>

        <hr>

        <h3>Building Custom Radio Inputs</h3>
        <p>A radio input is a common form element that can look pretty ugly by default. We've simplified the look and feel with a custom <code>&lt;span&gt;</code> that you can customize if you need to. You can even use <code>&lt;input disabled&gt;</code> to make the radio inactive.</p>

<%= code_example '
<form class="custom">
  <label for="radio1">
    <input name="radio1" type="radio" id="radio1" style="display:none;">
    <span class="custom radio"></span> Radio Button 1
  </label>
</form>', :html %>

        <form class="custom">
          <label for="radio1">
            <input name="radio1" type="radio" id="radio1" style="display:none;">
            <span class="custom radio"></span> Radio Button 1
          </label>
        </form>

        <hr>

        <h3>Building Custom Checkboxes</h3>
        <p>The checkbox input is another very common form element. These are handy for lists of options that can be selected in multiples, things like finding out which Ke$ha song should be used for a room name. You can build these using the same <code>&lt;span&gt;</code> technique. You can even use <code>&lt;input disabled&gt;</code> to make the radio inactive.</p>

<%= code_example '
<form class="custom">
  <label for="checkbox1">
    <input type="checkbox" id="checkbox1" style="display: none;">
    <span class="custom checkbox"></span> Label for Checkbox
  </label>
</form>', :html %>

        <form class="custom">
          <label for="checkbox1">
            <input type="checkbox" id="checkbox1" style="display: none;">
            <span class="custom checkbox"></span> Label for Checkbox
          </label>
        </form>

        <hr>

        <h3>Building Custom Selects</h3>
        <p>Sometimes you need to let people select a single item from a long list of options. This is what <code>&lt;select&gt;</code> elements are for. We've taken these a step further by including our own custom style that looks a lot better than inconsistent browser defaults. You can set any of the <code>&lt;option&gt;</code> elements to <code>&lt;option disabled&gt;</code> to make them unable to select. Custom selects are built like you'd expect:</p>

<%= code_example '
<form class="custom">
  <label for="customDropdown">Medium Example</label>
  <select id="customDropdown">
    <option DISABLED>This is a dropdown</option>
    <option>This is another option</option>
    <option>This is another option too</option>
    <option>Look, a third option</option>
  </select>
</form>', :html %>

        <form class="custom">
          <label for="customDropdown2">Medium Example</label>
          <select id="customDropdown2">
            <option DISABLED>This is a dropdown</option>
            <option>This is another option</option>
            <option>This is another option too</option>
            <option>Look, a third option</option>
          </select>
        </form>

        <h5>Various Sizes</h5>
        <p>You have access to classes that will control the size of the select element. They'll span 100% of their container by default.</p>

<%= code_example '
<select id="customDropdown" class="small"></select>
<select id="customDropdown" class="medium"></select>
<select id="customDropdown" class="large"></select>
', :html %>

        <div class="row">
          <div class="large-3 columns">
            <form class="custom">
              <label for="customDropdown3">Small Example</label>
              <select id="customDropdown3" class="small">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="large-9 columns">
            <form class="custom">
              <label for="customDropdown4">Medium Example</label>
              <select id="customDropdown4" class="medium">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <form class="custom">
              <label for="customDropdown5">Large Example</label>
              <select id="customDropdown5" class="large">
                <option DISABLED>This is a dropdown</option>
                <option>This is another option</option>
                <option>This is another option too</option>
                <option>Look, a third option</option>
              </select>
            </form>
          </div>
        </div>

        <hr>

        <h3>Using the Pre/postfix Concept With Custom Forms</h3>
        <p>We showed you how to use the prefix and postfix elements on our <a href="#">forms documentation page</a>. You can employ that same technique here and make custom forms act as your slave to create some very complex forms.</p>

<%= code_example '
<form class="custom">
  <div class="row">
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="large-9 small-9 columns">
          <span class="prefix">mysubdomain</span>
        </div>
        <div class="large-3 small-3 columns">
          <select>
            <option>.com</option>
            <option>.co</option>
            <option>.ca</option>
          </select>
        </div>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="row collapse">
        <div class="large-10 small-10 columns">
        <select>
          <option>google</option>
          <option>yahoo</option>
          <option>bing</option>
        </select>
        </div>
        <div class="large-2 small-2 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row collapse">
    <div class="small-8 columns">
      <select>
        <option>google</option>
        <option>yahoo</option>
        <option>bing</option>
      </select>
    </div>
    <div class="small-4 columns">
      <a href="#" class="button postfix expand">Button</a>
    </div>
  </div>
</form>', :html %>

        <form class="custom">
          <div class="row">
            <div class="large-6 columns">
              <div class="row collapse">
                <div class="large-9 small-9 columns">
                  <span class="prefix">mysubdomain</span>
                </div>
                <div class="large-3 small-3 columns">
                  <select>
                    <option>.com</option>
                    <option>.co</option>
                    <option>.ca</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="large-6 columns">
              <div class="row collapse">
                <div class="large-10 small-10 columns">
                <select>
                  <option>google</option>
                  <option>yahoo</option>
                  <option>bing</option>
                </select>
                </div>
                <div class="large-2 small-2 columns">
                  <span class="postfix">.com</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row collapse">
            <div class="small-8 columns">
              <select>
                <option>google</option>
                <option>yahoo</option>
                <option>bing</option>
              </select>
            </div>
            <div class="small-4 columns">
              <a href="#" class="button postfix expand">Button</a>
            </div>
          </div>
        </form>

        <hr>

        <h3>Using the JavaScript</h3>
        <p>In order to get the custom forms to function, you'll need to include <code>foundation.forms.js</code>. You'll also need to make sure to include <code>zepto.js</code> and <code>foundation.js</code> above the forms plugin. Above your closing <code>&lt;/body&gt;</code> tag include the following line of code and make sure you have the JS in your directory.</p>

        <p><a href="../javascript.html" title="How to install Foundation JavaScript">Read how to install Foundation JavaScript</a></p>

        <p>Required Foundation Library: <code>foundation.forms.js</code></p>

        <h5>Optional JavaScript Configuration</h5>

        <p>Custom Form options can only be passed in during initialization at this time. However, you can bind to the <i>open</i>, <i>change</i>, and <i>click</i> events depending on the form elements.</p>

<%= code_example "
{
  disable_class: 'no-custom'
}", :json %>

      </div>
    </div>

  </div>

  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>

</div>