<% @side_nav = "js" %>

<div class="row">
  <div class="large-9 push-3 columns">

    <% @page_title = "Tooltips" %>
    <div class="row">
      <div class="large-12 columns">
        <h2><%= @page_title %></h2>
        <h4 class="subheader">Tooltips are a quick way to provide <span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information</span> on a term or action on a page.</h4>

        <hr>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <a name="tooltips"></a>
        <h4>Building With HTML Classes</h4>
        <p>Tooltips work cross browser and cross platform and are easily added to a page with a simple markup and class structure. You can apply the <strong>has-tip</strong> class to any element.</p>

        <p>By default, the tooltip takes the width of the element that it is applied to, but you can override this behavior by applying a <strong>data-width</strong> attribute to the target element. The tooltip takes on the content of the targets <strong>title</strong> attribute.</p>

        <p>The tooltips can be positioned on the <span data-tooltip class="has-tip" data-width="210" title="I'm on bottom and the default position.">"tip-bottom"</span>, which is the default position, <span data-tooltip class="has-tip tip-top noradius" data-width="210" title="I'm on the top and I'm not rounded!">"tip-top" (hehe)</span>, <span data-tooltip="left" class="has-tip tip-left" data-width="90" title="I'm on the left!">"tip-left"</span>, or <span data-tooltip="right" class="has-tip tip-right" data-width="120" title="I'm on the right!">"tip-right"</span> of the target element by adding the appropriate class to them. You can even add your own custom class to style each tip differently. On a small device, the tooltips are full width and bottom aligned.</p>

<%= code_example '
<span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information</span>
', :html %>

        <p>Available class options:</p>
        <ul class="disc">
          <li><code>tip-top</code>: Align the tip above the element you attach it to.</li>
          <li><code>tip-bottom</code>: Align the tip below the element you attach it to.</li>
          <li><code>tip-left</code>: Align the tip to the left the element you attach it to.</li>
          <li><code>tip-right</code>: Align the tip to the right the element you attach it to.</li>
        </ul>

        <h4>Disable for Touch Devices</h4>
        <p>If you don't want tooltips to interfere with a touch event, you can disable them for those devices. To do this, you'll just need to add a data-option to your tooltip, like so:</p>

<%= code_example '
<span data-tooltip data-options="disable-for-touch:true" class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information</span>
', :html %>

        <hr>

        <h4>Available SCSS Variables</h4>
<%= code_example '
$has-tip-border-bottom:       dotted 1px #ccc;
$has-tip-font-weight:         bold;
$has-tip-font-color:          #333;
$has-tip-border-bottom-hover: dotted 1px darken($primary-color, 20%);
$has-tip-font-color-hover:    $primary-color;
$has-tip-cursor-type:         help;

$tooltip-padding:             emCalc(8px);
$tooltip-bg:                  #000;
$tooltip-font-size:           emCalc(15px);
$tooltip-font-weight:         bold;
$tooltip-font-color:          #fff;
$tooltip-line-height:         1.3;
$tooltip-close-font-size:     emCalc(10px);
$tooltip-close-font-weight:   normal;
$tooltip-close-font-color:    #888;
$tooltip-font-size-sml:       emCalc(14px);
$tooltip-radius:              $global-radius;
$tooltip-pip-size:            5px;
', :css %>

        <hr>

        <h3>Using the Javascript</h3>
        <p>You'll need to include <code>foundation.tooltips.js</code> to make sure everything works properly. You'll also need to make sure to include <code>zepto.js</code> and <code>foundation.js</code> above the plugin. Above your closing <code>&lt;/body&gt;</code> tag include the following line of code and make sure you have the JS in your directory:</p>

        <p><a href="../javascript.html" title="How to install Foundation JavaScript">Read how to install Foundation JavaScript</a></p>

        <p>Required Foundation Library: <code>foundation.tooltips.js</code></p>

        <p>Then, you'll need to add a data-attribute to make the JS work properly on that element. That looks like:</p>

<%= code_example '
<span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">...</span>
', :html %>

        <h5>Optional JavaScript Configuration</h5>

        <p>Tooltips now support <code>data-options</code> configuration. You can use this functionality to disable tooltips selectively by defining <code>data-options="disable-for-touch: true"</code> on your tip target.</p>

    <%= code_example "
{
  selector : '.has-tip',
  additionalInheritableClasses : [],
  tooltipClass : '.tooltip',
  disable-for-touch: false,
  tipTemplate : function (selector, content) {
    return '<span data-selector=\"' + selector + '\" class=\"'
      + Foundation.libs.tooltips.settings.tooltipClass.substring(1)
      + '\">' + content + '<span class=\"nub\"></span></span>';
  }
}", :js %>

      </div>
    </div>
  </div>
  <div class="large-3 pull-9 columns">
    <%= render "_sidebar-components.html.erb" %>
  </div>
</div>
