<!doctype html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <title>Foundation Documentation</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "docs" %>
  <%= javascript_include_tag "modernizr" %>
</head>
  <body class="antialiased off-canvas hide-extras">
    <nav class="top-bar hide-for-small">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="#">Features</a></li>
          <li class="divider"></li>
          <li><a href="#">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="#">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="#">Docs</a></li>
          <li class="divider"></li>
          <li><a href="#">Training</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>
    <section role="main">
      <header class="show-for-small">
        <a class='sidebar-button show-for-small' id="sidebarButton" href="#sidebar" ><img src="<%= asset_path %>/offcanvas/menu-wht.png" alt="ZURB Menu"><h4>Foundation</h4></a>
      </header>
      <div class="row">
        <div class="large-3 show-for-medium-up columns">
          <%= render "_sidebar.html.erb" %>
        </div>
        <div class="large-9 columns">
          <%= yield %>
        </div>
      </div>
    
      <div class="zurb-footer-top bg-blue">
        <div class="row property">
          <div class="large-4 columns">
            <div class="property-info">
              <h3><a href="http://foundation.zurb.com/">Foundation</a></h3>
              <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 15 years of experience building web products, services and websites into this framework.</p>
            </div>
          </div>
          
          <div class="large-8 columns">
            <div class="row collapse">
              <div class="large-4 columns">
                <div class="learn-links">
                  <h4 class="hide-for-small">Want More?</h4>
                  <ul>
                    <li><a href="http://zurb.com/expo/foundation-intro">Foundation Training</a></li>
                    <li><a href="http://zurb.com/expo/custom">Responsive</a></li>
                    <li><a href="http://zurb.com/services/our-work">Our Work</a></li>
                    <li><a href="http://zurb.com/apps">ZURB Apps</a></li>
                  </ul>
                </div>
              </div>
              <div class="large-4 columns">
                <div class="support-links">
                  <h4 class="hide-for-small">Talk to us</h4>
                  <p>Call us at <strong>(408) 341-0600</strong></p>
                  <p>Not a big talker? Email us at <a href="mailto:foundation@zurb.com">foundation@zurb.com</a></p>
                </div>
              </div>
              <div class="large-4 columns">
                <div class="connect-links">
                  <h4 class="hide-for-small">Stay in touch</h4>
                  <p>Keep up with the latest on Foundation. Find us on Github.</p>
                  <a href="https://github.com/zurb/foundation" target="_blank" class="small button">Stay Connected</a>         
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="row global">
          <div class="large-3 small-6 columns">
            <a href="http://zurb.com/services" class="footer-link-block services">
              <span class="title">Services</span>
              <span>Helping more than 200 startups succeed since 1998.</span>
            </a>
          </div>
          <div class="large-3 small-6 columns">
            <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
              <span class="title">Foundation</span>
              <span>The most advanced front-end framework in the world.</span>
            </a>
          </div>
          <div class="large-3 small-6 columns">
            <a href="http://zurb.com/apps" class="footer-link-block apps">
              <span class="title">Products</span>
              <span>Prototype, iterate and collect feedback on your products.</span>
            </a>
          </div>
          <div class="large-3 small-6 columns">
            <a href="http://zurb.com/expo" class="footer-link-block expo">
              <span class="title">Expo</span>
              <span>Ideas, thoughts and design resources shared with you.</span>
            </a>
        </div>
        </div>
      </div>
        <div class="zurb-footer-bottom">
        <div class="row">
          <div class="large-4 push-8 columns">
            <ul class="home-social">
                <li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
                <li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
                <li><a href="http://zurb.com/contact" class="mail"></a></li>
              </ul>
           </div>
           <div class="large-8 pull-4 columns">
              <a href="http://www.zurb.com" class="zurb-logo regular"></a>
              <ul class="zurb-links">
                <li><a href="http://zurb.com/about">About</a></li>
                <li><a href="http://zurb.com/blog">Blog</a></li>
                <li><a href="http://zurb.com/news">News<span class="show-for-medium-up"> &amp; Events</span></a></li>
                <li><a href="http://zurb.com/contact">Contact</a></li>
                <li><a href="http://zurb.com/sitemap">Sitemap</a></li>
             </ul>
             <p class="copyright">&copy; 1998&ndash;<%= Time.now.year %> ZURB, Inc. All rights reserved.</p>
          </div>          
        </div>
      </div>
      <div class="joyride-modal-bg"></div>
    </section>
      
      
    <aside id="sidebar" role="complementary">
      
      <!-- For Future Use   
      <div id="passport">
        <a id="user" href="#">
          <h5>Firstname LastName</h5><br>
          <p>sign out</p>
        </a>
        <a id="ava" href="#">
          <div class="avatar"><img src="placehold.it/75x75"></div>
        </a>
      </div>
      -->
      
      <!-- This is the apps main navigation -->         
      <div class="main-menu">
        <h6>Foundation</h6>
        <nav id="sideMenu" role="navigation">
          <ul id="sideMainNav" class="nav-bar">
            <li class="show-for-small">
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/grid.php">Features</a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/templates.php">Add-ons</a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/case-jacquelinewest.php">Case Studies</a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/docs/">Docs</a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/training.php">Training</a>
          </li>
          </ul>
        </nav>      
      </div>
        
      <hr>
      
      <!-- These links will vary depending on what app it is -->  
      <div class="more-goodness">   
        <h6>More ZURB Goodness</h6>
        <nav role="navigation">
          <ul id="secondarySideMainNav" class="nav-bar goodness">
            <li><a href="http://zurb.com/expo/foundation-intro">Foundation Training</a></li>
            <li><a href="http://zurb.com/services/our-work">Our Work</a></li>
            <li><a href="http://zurb.com/apps">ZURB Apps</a></li>
          </ul>
        </nav>
      </div>
      
      <hr>
      
      <!-- These links will be the same across all of our proprties & apps -->
      <div class="zurb-links">    
        <ul class="top">
          <li class="logo"><a href="http://zurb.com"><img src="<%= asset_path %>/offcanvas/zurb-logo.png" alt="ZURB"></a></li>
          <li><a href="http://zurb.com/about">About</a></li>
          <li><a href="http://zurb.com/blog">Blog</a></li>
          <li><a href="http://zurb.com/contact">Contact</a></li>
        </ul>
        <ul class="pillars">
          <li>
            <a href="http://www.zurb.com/services" class="footer-link-block services">
              <span class="title">Studios</span>
              <span>Helping startups win since '98.</span>
            </a>
          </li>
          <li>
            <a href="http://foundation.zurb.com/" class="footer-link-block foundation">
              <span class="title">Foundation</span>
              <span>World's most advanced responsive framework.</span>
            </a>
          </li>
          <li>
            <a href="http://zurb.com/apps" class="footer-link-block apps">
              <span class="title">ZURB Apps</span>
              <span>Tools to rapidly prototype and iterate.</span>
            </a>
          </li>
          <li>
            <a href="http://zurb.com/expo" class="footer-link-block expo">
              <span class="title">Expo</span>
              <span>Online training for smarter product design.</span>
            </a>
          </li> 
        </ul>
      </div>
      
    </aside>







    <% if @options.javascript_enabled %>
      <%= javascript_include_tag "docs" %>
      <script>
      $(document).foundation();
      </script>
    <% end %>
  </body>
</html>