<div class="section-container accordion" data-section data-options="deep_linking: false">
  <section class="section">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../docs/">Get Started</a></li>
        <li><a href="../javascript.html">Javascript</a></li>
        <li><a href="../sass.html">Sass</a></li>
        <li><a href="../rails.html">Rails</a></li>
        <li><a href="../visibility.html">Visibility Classes</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'grid' ? 'active': '' %>">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="grid.html">Grid</a></li>
        <li><a href="block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'nav' ? 'active': '' %>">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="pagination.html">Pagination</a></li>
        <li><a href="side-nav.html">Side Nav</a></li>
        <li><a href="sub-nav.html">Sub Nav</a></li>
        <li><a href="top-bar.html">Top Bar</a></li>
        <li><a href="breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'buttons' ? 'active': '' %>">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="buttons.html">Buttons</a></li>
        <li><a href="button-groups.html">Button Groups</a></li>
        <li><a href="dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a href="split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'forms' ? 'active': '' %>">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="forms.html">Forms</a></li>
        <li><a href="custom-forms.html">Custom Forms</a></li>
        <li><a href="switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'type' ? 'active': '' %>">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="type.html">Type</a></li>
        <li><a href="inline-lists.html">Inline Lists</a></li>
        <li><a href="labels.html">Labels</a></li>
        <li><a href="keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'css' ? 'active': '' %>">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="panels.html">Panels</a></li>
        <li><a href="pricing-tables.html">Pricing Tables</a></li>
        <li><a href="progress-bars.html">Progress Bars</a></li>
        <li><a href="tables.html">Tables</a></li>
        <li><a href="thumbnails.html">Thumbnails</a></li>
        <li><a href="flex-video.html">Flex Video</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'js' ? 'active': '' %>">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="clearing.html">Clearing</a></li>
        <li><a href="dropdown.html">Dropdown</a></li>
        <li><a href="joyride.html">Joyride</a></li>
        <li><a href="magellan.html">Magellan</a></li>
        <li><a href="orbit.html">Orbit</a></li>
        <li><a href="reveal.html">Reveal</a></li>
        <li><a href="section.html">Section</a></li>
        <li><a href="tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="../faq.html">FAQ</a></p>
  </section>
  <section class="section">
    <p class="title"><a href="../support.html">Support</a></p>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Download Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <script type="text/javascript" src="http://www.zurb.com/jobs/widgets/jobs.js?limit=3&variation=foundation-sidebar"></script>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>
