<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foundation Docs: <%= @page_title %></title>
    <link rel="stylesheet" href="<%= asset_path %>/normalize.css" />
    <link rel="stylesheet" href="<%= asset_path %>/docs.css" />
    <script src="<%= asset_path %>/vendor/custom.modernizr.js"></script>
  </head>
  <body>
    <%= yield %>
    <script>
      document.write('<script src=<%= asset_path %>/vendor/' 
        + ('__proto__' in {} ? 'zepto' : 'jquery') 
        + '.js><\/script>');
    </script>
    <script src="<%= asset_path %>/docs.js"></script>
    <script>
      $(document).foundation('joyride', 'start');
    </script>
  </body>
</html>
