<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Docs: <%= @page_title %></title>
    <link rel="stylesheet" href="<%= asset_path %>/normalize.css" />
    <link rel="stylesheet" href="<%= asset_path %>/docs.css" />
    <script src="<%= asset_path %>/vendor/custom.modernizr.js"></script>
  </head>
  <body class="antialiased">

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="<%= features_path %>">Features</a></li>
          <li class="divider"></li>
          <li><a href="<%= add_ons_path %>">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="<%= case_studies_path %>">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="<%= docs_path %>">Docs</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Getting Started</a>
          </li>
        </ul>
      </section>
    </nav>

    <% @page_title = "4 Documentation" %>
    <div class="row">
      <div class="large-12 columns">
        <h1 class="docs header"><a href="http://foundation.zurb.com/docs/">Foundation <%= @page_title %></a></h1>
        <h6 class="docs subheader"><a href="http://foundation.zurb.com/old-docs/f3">Want F3 Docs?</a></h6>
        <hr>
      </div>
    </div>

    <%= yield %>

    <footer class="row full-width">
      <div class="large-5 columns">
        <h6><strong>Made by ZURB</strong></h6>
        <p>Foundation is made by <a href="http://www.zurb.com/">ZURB</a>, a product design company in Campbell, California. We've put more than 14 years of experience building web products, services and websites into this framework. <a href="http://foundation.zurb.com/about.php">Foundation Info and Goodies &rarr;</a></p>
      </div>

      <div class="large-3 columns">
        <h6><strong>Using Foundation?</strong></h6>
        <p>Let us know how you're using Foundation and we might feature you as an example! <a href="mailto:foundation@zurb.com?subject=I'm%20using%20Foundation">Get in touch &rarr;</a></p>
      </div>

      <div class="large-4 columns">
        <h6><strong>Need some help?</strong></h6>
        <p>For answers or help visit the <a href="http://foundation.zurb.com/docs/support.html">Support page</a>.</p>
      </div>
    </footer>

    <div id="copyright">
      <div class="row full-width">
        <div class="large-4 columns">
          <p>Site content &copy; 2013 ZURB, inc.</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li><a href="http://foundation.zurb.com">Home</a></li>
            <li><a href="http://foundation.zurb.com/download.php">Download</a></li>
            <li><a href="http://foundation.zurb.com/docs">Docs</a></li>
            <li><a href="http://foundation.zurb.com/docs/changelog.html">Changelog</a></li>
            <li><a href="http://foundation.zurb.com/about.php">About</a></li>
            <li><a href="http://feeds.feedburner.com/zurb/blog">Subscribe to the ZURBlog</a></li>
          </ul>
        </div>
      </div>
    </div>

    <script>

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(
        ['_setAccount', 'UA-2195009-2'],
        ['_trackPageview'],
        ['b._setAccount', 'UA-2195009-27'],
        ['b._trackPageview']
      );

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      document.write('<script src="<%= asset_path %>/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
    <script src="<%= asset_path %>/docs.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
