<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Foundation Docs: <%= @page_title %></title>
    <link rel="stylesheet" href="<%= asset_path %>/normalize.css" />
    <link rel="stylesheet" href="<%= asset_path %>/docs.css" />
    <script src="<%= asset_path %>/vendor/custom.modernizr.js"></script>
  </head>
  <body>

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">Foundation</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="#">Features</a></li>
          <li class="divider"></li>
          <li><a href="#">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="#">Case Studies</a></li>
          <li class="divider"></li>
          <li><a href="#">Docs</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="#" class="button">Get Started</a>
          </li>
        </ul>
      </section>
    </nav>

    <%= yield %>
    <script>
      document.write('<script src="<%= asset_path %>/vendor/'
        + ('__proto__' in {} ? 'zepto' : 'jquery')
        + '.js"><\/script>');
    </script>
    <script src="<%= asset_path %>/docs.js"></script>
    <script>
      $(document).foundation(function (response) {
        console.log(response.errors);
      });
    </script>
  </body>
</html>
